<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Southern Heartland Integral Technology" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="row">
        <div class="large-10 small-8 columns">
          <h1>Southern Heartland Integral Technology</h1>
          <nav>
            <%= link_to("My Account", user_path(session[:user_id])) %>

          </nav>
        </div>
        <div class="large-2 small-4 columns">
          <p><strong>I.T. Happens!!!</strong><br>
          620 555 5555</p>


        </div>
      </div>
    </header>

      <div class="row">
        <div class="medium-12 colums">
          <%= yield %>

        </div>
      </div>

  </body>
</html>
